[submodule "daily"]
	path = daily
	url = https://github.com/OpenParachutePBC/parachute-daily.git
[submodule "chat"]
	path = chat
	url = https://github.com/OpenParachutePBC/parachute-chat.git
[submodule "base"]
	path = base
	url = https://github.com/OpenParachutePBC/parachute-base.git
[submodule "build"]
	path = build
	url = https://github.com/OpenParachutePBC/parachute-build.git
